<div id="<%= dom_id gallery %>">
  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gallery.description %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= gallery.images %>
  </p>

</div>
